.service-holder {
  margin: 17px 0;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service-holder > div {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border: 1px solid transparent;
  line-height: 140px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  font-size: 30px;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-left: -4px;
  vertical-align: bottom;
}

.wrapper {
  background: url('https://yourdailyjuice.files.wordpress.com/2010/11/day.jpg');
  background-size: cover;
  margin: auto;
  width: 100%;
  padding: 100px 0;
 }

.liner {
  display: inline-block;
  width: 100%;
  height: 20px;
  background: #F7F8F1;
  margin-top: 50px;
}

.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  color: #F7F8F1;
}

.blue {
  background-color: #262972;
  color: #F7F8F1;
}

.orange {
  background-color: #ED6B27;
  color: #F7F8F1;
}

.yellow {
  background-color: #FCC60A;
  color: #000205;
}

.red {
  background-color: #EC1B27;
  color: #F7F8F1;
}

.green {
  background-color: #0B7338;
  color: #F7F8F1;
}

.purple {
  background-color: #871B5C;
  color: #F7F8F1;
}

.grey {
  background-color: #858B89;
  color: #F7F8F1;
}

.brown {
  background-color: #834A18;
  color: #F7F8F1;
}

.sign {
  background: #010101;
  border-radius: 25px;
  text-align: center;
  box-shadow: 3px 3px 10px 5px rgba(255,255,255,.2);
}

.service-holder > div > i {
  font-size: 70px;
  line-height: 140px;
}

.service-holder h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #FCFCF7;
}

.service-holder p {
  font-family: 'Montserrat', sans-serif;
  color: #E4E5D7;
  letter-spacing: 1px;
}

.bottom {
  margin-bottom: 30px;
}

